@font-face{
    font-family: 'Montserrat';
    src: url('./Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face{
    font-family: 'Montserrat-Bold';
    src: url('./fonts/Montserrat/static/Montserrat-Bold.ttf');
}

@font-face{
    font-family: 'Roboto-Light';
    src: url('./fonts/Roboto/Roboto-Light.ttf');
}