@import './base/base';
@import './base/mixin';
@import './base/variables';

@import './fonts/fonts.css';

body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 14px;
}

header {
    color: $white-color;
    margin: 0 auto;
    display: block;
    position: relative;
}

.header_photo {
    @include box(1440px, 700px);
    background-image: url('./images/00_Bitmap.png');
}



.pic_location {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.orange-black {
    @include box(100%, 100%);
    padding: 41px 291px 224px 248px;
    background: linear-gradient(360deg, rgba(255, 78, 80, 0.1) 0%, rgba(249, 212, 35, 0.1) 100%);
    mix-blend-mode: normal;
    box-shadow: inset 0px 0px 0 350px rgba(0, 0, 0, 0.1);
    position: relative;
}

.top {
    @include display_flex(row, space-between);
    @include text_style(14px, normal, 32px, 1px);

    &__logo {
        font-family: 'Montserrat', Helvetica, sans-serif;
        @include text_style(20px, bold, 32px, 1px);
        text-transform: uppercase;
    }

    &__access {
        @include display_flex(inherit, inherit);

        &_login {
            margin-top: 3px;
        }

        &_signin {
            margin-left: 19px;
            @include button (90px, $white-color);
        }
    }
}

.container {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

.top_text {
    padding: 148px 194px 0 237px;
    text-align: center;
}

h1 {
    @include text_style(52px, bold, 63px, normal);
    text-transform: uppercase;
}

.Roboto {
    font-family: 'Roboto-Light', Helvetica, sans-serif;
}

.Roboto_top {
    font-size: 24px;
    margin: 28px auto 33px;
}

.button_red {
    @include button (225px, $red-color);
    @include text_style(14px, bold, 36px, normal);
    background-color: $red-color;
    margin: 0 auto;
}

//Steps

main {
    color: $gray-color;
}

section {
    padding: 90px 235px 0 250px;
    @include display_flex(column, space-between);
}

h2 {
    font-family: 'Montserrat', Helvetica, sans-serif;
    @include text_style(26px, bold, 32px, normal);
    color: $gray-color;
    text-align: center;
    margin: 0 0 35px 0px;
}

.steps_flex {
    @include display_flex(row, space-between);
}

.step {
    @include box(300px, 400px);
    @include display_flex(column, end);
    color: $white-color;
    border-radius: 4px;
    padding: 0 25px 21px;
    margin: 0 0 0 20px;

    &__button {
        @include button (70px, $red-color);
        @include text_style(10px, normal, 16px, normal);
        text-transform: uppercase;
        margin: 0;
    }

    &__header {
        @include text_style(24px, bold, 26px, normal);
        margin: 18px 0 25px;
        word-spacing: 1px;
    }

    &__text {
        @include text_style(14px, normal, 14px, normal);
    }
}

.s1_photo {
    background-image:
        linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%),
        url('./images/01_step\ 1.png');
}

.s2_photo {
    background-image:
        linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%),
        url('./images/01_step\ 2.png');
}

.s3_photo {
    background-image:
        linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%),
        url('./images/01_step\ 3.png');
}

.morbi_margin {
    margin: 28px 0 15px 3px;
}

// Partners

.partners_flex {
    width: 940px;
    @include display_flex(row, space-between);
    flex-wrap: wrap;
}

.partner {
    @include box(220px, 100%);
    @include display_flex(column, space-between);
    align-items: center;
    margin: 0 0 0 19px;

    &__ava {
        @include box(120px, 120px);
        border-radius: 50%;
    }

    &__name {
        margin: 17px auto 22px;
        @include text_style(14px, bold, 18px, normal);
    }

    &__about {
        @include text_style(14px, normal, 14px, 0.01px);
        text-align: center;
        margin-bottom: 35px;
        color: $lgray-color
    }
}

.partner__button {
    @include button(180px, $red-color);
    color: $red-color;
    @include text_style(14px, bold, 36px, normal);
    margin: 5px auto 0;
}

.p1_photo {
    background: url('./images/02_Partner\ 1.png');
}

.p2_photo {
    background: url('./images/02_Partner\ 2.png');
}

.p3_photo {
    background: url('./images/02_Partner\ 3.png');
}

.p4_photo {
    background: url('./images/02_Partner\ 4.png');
}

.icon::after {
    content: "";
    display: block;
    @include box(36px, 36px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
    border-radius: 16px;
    border: 2px solid $white-color;
    top: 85px;
    left: 90px;
    position: relative;
}

.music::after {
    background-color: $red-color;
    background-image: url('./images/02_01_music.svg');
}

.brush::after {
    background-color: $brush-color;
    background-image: url('./images/02_02_brush.svg');
}

.camera::after {
    background-color: $camera-color;
    background-image: url('./images/02_03_camera.svg');
}

.plane::after {
    background-color: $plane-color;
    background-image: url('./images/02_04_airplane.svg');
}

.nomargin {
    margin: 0;
}

// Ideas

.ideas_box {
    width: 940px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 310px 310px 310px;
    row-gap: 20px;
    column-gap: 20px;

    @include text_style(22px, bold, 27px, normal);
    color: $white-color;
    text-align: center;
    border-radius: 4px;
}

.ideas_flex {
    @include display_flex(column, space-around);
}

.sport {
    grid-column: 1/2;
    grid-row: 1/1;
    background-image: url('./images/03_01_Sport.png');
    box-shadow: inset 0px 0px 0 150px rgba(0, 0, 0, 0.2);
}

.health {
    grid-column: 2/3;
    grid-row: 1/1;
    background-image: url('./images/03_02_Health.png');
    box-shadow: inset 0px 0px 0 150px rgba(0, 0, 0, 0.2);
}

.extreme {
    grid-column: 3/4;
    grid-row: 1/1;
    background-image: url('./images/03_03_Extreme.png');
    box-shadow: inset 0px 0px 0 150px rgba(0, 0, 0, 0.2);
    padding: 0 40px;
}

.games {
    grid-column: 1/2;
    grid-row: 2/2;
    background-image: url('./images/03_04_Games.png');
    box-shadow: inset 0px 0px 0 150px rgba(0, 0, 0, 0.2);
}

.culture {
    grid-column: 2/4;
    grid-row: 2/2;
    background-image: url('./images/03_05_Culture.png');
    box-shadow: inset 0px 0px 0 150px rgba(0, 0, 0, 0.2);
}

.relax {
    grid-column: 1/3;
    grid-row: 3/3;
    background-image: url('./images/03_06_Enjomet.png');
    box-shadow: inset 0px 0px 0 150px rgba(0, 0, 0, 0.2);
}

.travel {
    grid-column: 3/4;
    grid-row: 3/3;
    background-image: url('./images/03_07_Trevelling.png');
    box-shadow: inset 0px 0px 0 150px rgba(0, 0, 0, 0.2);
}

// Search

.interest_hi {
    margin: 15px auto 25px;
    @include text_style(18px, normal, 14px, 0.01px);
    color: $lgray-color;
    padding-left: 8px;
}

.interest_flex {
    @include display_flex(row, space-between);
    width: fit-content;
    margin: 0 auto 100px;
}

.interest_form {
    @include text_style(14px, normal, 36px, normal);
    width: 300px;
    border-radius: 3px;
    border: 1px solid #D4D4D4;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
    color: $nine-gray-color;
    margin: 0 8px;
}

.button_search {
    @include button(172px, $red-color);
    @include text_style(14px, bold, 36px, normal);
    color: $white-color;
    background-color: $red-color;
}

footer {
    border-top: 2px solid $red-color;
}

.footer_flex {
    @include display_flex(row, space-between);
    width: 65%;
    margin: 36px auto;
}

.footer__logo {
    @include text_style(16px, normal, 20px, normal);
    text-transform: uppercase;
    color: $red-color;
}

.footer__header {
    @include text_style(14px, bold, 17px, normal);
    margin: 3px 53px 10px 0;
}

ul {
    font-family: 'Roboto-Light', Helvetica, sans-serif;
    @include text_style(14px, normal, 26px, normal);
    color: $nine-gray-color;
}

.designed {
    @include text_style(11px, normal, 12px, normal);
    text-transform: uppercase;
    color: $c-gray-color;
    text-align: right;
    margin: 2px -18px 0 0;
}

.Areto_logo {
    @include box(110px, 24px);
    background-image: url('./images/Areto.png');
    margin: 10px 0 0 115px;
}

@media screen and (max-width: 1439px) and (min-width: 768px) {
    .header_photo {
        @include box(100%, 700px);
        min-width: 768px;
    }

    .orange-black {
        padding: 41px 50px 224px 48px;
    }

    .top_text {
        padding: 148px 99px 0 101px;
    }

    section {
        padding: 94px 10px 0 10px;
    }

    h2 {
        @include text_style(22px, bold, 27px, normal);
        margin-left: 15px;
    }

    .steps_flex {
        @include display_flex(row, space-evenly);
        margin: 0 auto;
    }

    .step {
        width: 236px;
        padding: 0 20px 16px;
        background-position: left;

        &__button {
            letter-spacing: 1.5px;
        }

        &__header {
            line-height: 15px;
            margin: 43px 0 28px;
        }
    }

    .morbi_margin {
        margin: 13px 0 22px 0;
    }

    .partners_flex {
        max-height: 510px;
        width: 500px;
        margin: 0 auto;
        padding-left: 12px;
        @include display_flex(column, space-between);
        align-content: space-between;
    }

    .partner {
        width: 236px;

        &__name {
            margin: 17px auto 25px;
        }
    }

    .margins_tablet {
        margin: 16px 0 0;
    }

    .partner__button {
        margin: 2px auto 0;
    }

    .mobile_margin {
        margin-left: 10px;
    }

    .ideas_box {
        width: 748px;
        grid-template-columns: 236px 236px 236px;
        margin: 0 auto;
    }

    .interest_hi {
        margin: 19px auto 25px;
        padding-left: 25px;
    }

    .interest_form {
        margin: 0 14px;
    }

    .footer_flex {
        width: 90%;
        // margin: 36px auto;
    }

    .footer__logo {
        margin-right: 48px;
    }

    .footer__header {
        margin: 2px 0px 10px 0;
    }

    .designed {
        margin: 2px -20px 0 58px;
    }

    .Areto_logo {
        margin: 9px 4px 0 0px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {

    .header_photo {
        @include box(100%, 540px);
        background-image: url('./images/00_Bitmap_mobile.png');
        min-width: 320px;
        border-left: 10px solid white;
    }

    .orange-black {
        padding: 21px 10px 153px 20px;
    }

    .top {
        @include display_flex(column-reverse, space-between);
        align-items: center;

        &__logo {
            margin: 93px 0 0 6px;
            @include text_style(20px, bold, 32px, normal);
        }

        &__access {
            @include display_flex(row, space-around);
            width: fit-content;
            margin-right: 15px;

            &_signin {
                margin-left: 14px;
            }
        }
    }

    h1 {
        @include text_style(30px, bold, 37px, normal);
    }

    .top_text {
        padding: 24px 0 0;
    }

    .Roboto_top {
        @include text_style(18px, normal, 25px, normal);
        margin: 6px auto 13px;
    }

    .button_red {
        @include button (276px, $red-color);
        letter-spacing: normal;
    }

    section {
        padding: 33px 10px 0 10px;
        margin: 0 auto;
        width: fit-content;
    }

    h2 {
        @include text_style(22px, bold, 27px, normal);
        margin: 0 0 15px 10px;
    }

    .steps_flex {
        @include display_flex(column, space-between);
        margin: 0 auto;
    }

    .step {
        @include box(300px, 240px);
        padding: 0 30px 16px 20px;
        margin: 0 0 10px 0;

        &__button {
            width: 70px;
            letter-spacing: 1.5px;
        }

        &__header {
            @include text_style(24px, bold, 15px, 1.5px);
            word-spacing: 0.5px;
            margin: 43px 0 22px;
        }
    }

    .morbi_margin {
        margin: 26px 0 22px 0;
        letter-spacing: 1.1px;
    }

    .s1_photo {
        background-image:
            linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%),
            url('./images/01_step\ 1\ mobile.png');
    }

    .s2_photo {
        background-image:
            linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%),
            url('./images/01_step\ 2\ mobile.png');
    }

    .s3_photo {
        background-image:
            linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%),
            url('./images/01_step\ 3\ mobile.png');
    }

    .padding_mobile {
        padding-top: 28px;
    }

    .partners_flex {
        width: 300px;
        flex-direction: column;
        margin: 0 auto;
    }

    .partner {
        margin: 0 auto;

        &__name {
            margin: 15px auto 22px;
        }

        &__about {
            @include text_style(13px, normal, 14px, 0.5px);
            margin-bottom: 15px;
        }
    }

    .diana_margin {
        margin: 20px auto;
    }

    .margins_tablet {
        margin: 12px auto 0;
    }

    .partner:nth-child(1),
    .partner:nth-child(3) {
        order: -1;
    }

    .partner__button {
        width: 280px;
        margin: 8px auto 0;
        letter-spacing: 1px;
    }

    .margin_mobile {
        margin-right: 20px;
    }

    .ideas_box {
        width: 300px;
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: repeat(7, 120px);
        row-gap: 10px;
        margin: 20px auto 0;
    }

    .sport, 
    .health,
    .extreme,
    .games,
    .culture,
    .relax,
    .travel {
        grid-column: 1/2;
        padding: 0 47px;
    }

    .sport {
        grid-row: 1/1;
        background-image: url('./images/03_01_Sport\ mobile.png');
        padding-bottom: 23px;
    }

    .health {
        grid-row: 2/2;
        background-image: url('./images/03_02_Health\ mobile.png');
    }

    .extreme {
        grid-row: 3/3;
        background-image: url('./images/03_03_Extreme\ mobile.png');
    }

    .games {
        grid-row: 4/4;
        background-image: url('./images/03_04_Games\ mobile.png');
    }

    .culture {
        grid-row: 5/5;
        background-image: url('./images/03_05_Culture\ mobile.png');
        padding: 0 10px;
    }

    .relax {
        grid-row: 6/6;
        background-image: url('./images/03_06_Enjomet\ mobile.png');
        padding: 0 10px;
    }

    .travel {
        grid-row: 7/7;
        background-image: url('./images/03_07_Trevelling\ mobile.png');
    }

    .interest_hi {
        margin: 3px auto 16px;
    }

    .interest_flex {
        @include display_flex(column, space-between);
        width: fit-content;
        margin: 0 auto 40px;
    }

    form{
        margin-bottom: 10px;
    }

    .interest_form {
        width: 280px;
    }

    .button_search {
        @include button(280px, $red-color);
        margin: 0 auto;
        padding: 1px 0 0 10px;
    }
    
    .footer_flex {
        @include display_flex(column, space-between);
        align-items: center;
        width: 80%;
        margin: 19px auto;
        padding-left: 15px;
    }
    
    .footer__logo {
        margin-bottom: 5px;
    }
    
    .footer__header {
        text-align: center;
        margin: 8px auto 0;
    }

    .menu-text{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    ul{
        display: inline;
        margin: 0 6px;
    }

    .designed {
        text-align: center;
        margin: 14px 0 0;
    }
    
    .Areto_logo {
        margin: 7px 0 0;
    }
}